@page
@using System;
@using System.Configuration;
@using System.Data.SqlClient;
@{
    ViewData["Title"] = "Checkin";

    // Connecting to database.
    String connectionString = "Server=tcp:amnotdaniel.duckdns.org,1433;Initial Catalog=projectstudio;Persist Security Info=False;User ID=sa;Password=ProjectStudio1;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False;Connection Timeout=30;";
    SqlConnection db = new SqlConnection(connectionString);

    // Form check.
    if (Request.Method == "POST")
    {
        var venueId = Request.Cookies["venueId"];
        string fName = Request.Form["firstName"];
        string lName = Request.Form["lastName"];
        string phone = Request.Form["contact"];

        if (!String.IsNullOrWhiteSpace(fName) && !String.IsNullOrWhiteSpace(fName) && !String.IsNullOrWhiteSpace(phone))
        {
            // Convert names to upper.
            fName = fName.ToUpper();
            lName = lName.ToUpper();

            // Query to check for database entry matching User inputs.
            SqlCommand userIDCheck = new SqlCommand("SELECT uniqueId FROM Users WHERE firstName = @firstName AND lastName = @lastName AND phoneNumber = @phoneNum", db);

            // Query parameters.
            userIDCheck.Parameters.AddWithValue("@firstName", fName);
            userIDCheck.Parameters.AddWithValue("@lastName", lName);
            userIDCheck.Parameters.AddWithValue("@phoneNum", phone);

            // Open connection
            db.Open();

            // Store query result.
            var userIDResult = userIDCheck.ExecuteScalar();

            if (userIDResult == null)
            {
                // Query to add new User to database.
                SqlCommand addNewUser = new SqlCommand("INSERT INTO Users (firstName, lastName, phoneNumber) VALUES (@fName, @lName, @pNum)", db);

                // Query parameters.
                addNewUser.Parameters.AddWithValue("@fName", fName);
                addNewUser.Parameters.AddWithValue("@lName", lName);
                addNewUser.Parameters.AddWithValue("@pNum", phone);

                // Executing query.
                addNewUser.ExecuteNonQuery();

                // Selecting newly added Users uniqueId.
                SqlCommand idCommand = new SqlCommand("SELECT uniqueId FROM Users WHERE firstName = @fName AND lastName = @lName AND phoneNumber = @pNum", db);

                idCommand.Parameters.AddWithValue("@fName", fName);
                idCommand.Parameters.AddWithValue("@lName", lName);
                idCommand.Parameters.AddWithValue("@pNum", phone);

                // Setting userIDResult to newly created Users uniqueId.
                userIDResult = idCommand.ExecuteScalar();
            }

            // Log checkin query.
            string logQuery = "INSERT INTO CheckinLogs (dateLog, venueId, uniqueId) VALUES(@theDate, @venueId, @uniqueId)";
            SqlCommand logCommand = new SqlCommand(logQuery, db);

            // Query parameters.
            logCommand.Parameters.AddWithValue("@theDate", DateTime.Now);
            logCommand.Parameters.AddWithValue("@venueId", venueId);
            logCommand.Parameters.AddWithValue("@uniqueId", userIDResult);

            // Executing query.
            logCommand.ExecuteNonQuery();

            // Close connection.
            db.Close();
        }
    }
}

<header>
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <a class="navbar-brand" href="#">
            <img src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Venue Management
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item disabled">
                    <a class="nav-link" href="login">Login <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="register">Register <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="checkin">Checkin <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item disabled">
                    <a class="nav-link" href="reports">Reports <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<body>
    <div class="container">
        <main role="main" class="pb-3">
            <br /><br /><br />
            <div class="card">
                <div class="card-body">
                    <div class="row d-flex justify-content-center">
                        <div class="col-sm-6 border-right">
                            <h5 class="card-title">Placeholder...</h5>
                        </div>
                        <div class="col-sm-6">
                            <form method="post" action="">
                                <h5 class="card-title">Don't have a username? Check-in manually</h5>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="firstName" maxlength="100" placeholder="Given name..." required>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" name="lastName" maxlength="100" placeholder="Surname..." required>
                                </div>

                                <div class="form-group">
                                    <input type="tel" class="form-control" name="contact" pattern="0[0-9]{9}||[0-9]{9}" placeholder="Contact number..." required>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Check-in</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>