@page
@using System;
@using System.Configuration;
@using System.Data.SqlClient;
@{
    ViewData["Title"] = "Checkin";

    // var db = Database.Open("databaseName");




    //if (!String.IsNullOrWhiteSpace(fName) && !String.IsNullOrWhiteSpace(lName) && !String.IsNullOrWhiteSpace(phone))
    //{
    //    fName = fName.ToUpper();
    //    lName = lName.ToUpper();

    //    var userQuery = "SELECT TOP 1 uniqueId FROM Users WHERE firstName = @0 AND lastName = @1 AND phoneNumber = @2";
    //    // var userID = db.QuerySingle(userQuery, fName, lName, phone);
    //    if (userID == null)
    //    {
    //        var addUserQuery = "INSERT INTO Users (firstName, lastName, phoneNumber) VALUES (@0, @1, @2)";
    //    }
    //}

    if (Request.Method == "POST")
    {
        string fName = Request.Form["fName"];
        string lName = Request.Form["lName"];
        string phone = Request.Form["phoneNum"];
        string connectionString = "Server=tcp:amnotdaniel.duckdns.org,1433;Initial Catalog=projectstudio;Persist Security Info=False;User ID=sa;Password=ProjectStudio1;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False;Connection Timeout=30;";
        SqlConnection connection = new SqlConnection(@connectionString);
        string userQuery = "INSERT INTO Users (firstName, lastName, phoneNumber) VALUES(@fName, @lName, @pNum)";
        SqlCommand userCommand = new SqlCommand(userQuery, connection);

        userCommand.Parameters.AddWithValue("@fName", "Guy");
        userCommand.Parameters.AddWithValue("@lName", "Guyson");
        userCommand.Parameters.AddWithValue("@pNum", "0466666666");

        string logQuery = "INSERT INTO CheckinLogs (dateLog, venueId, uniqueId) VALUES(@theDate, @venueId, @uniqueId)";
        SqlCommand logCommand = new SqlCommand(logQuery, connection);

        logCommand.Parameters.AddWithValue("@theDate", DateTime.Now);
        logCommand.Parameters.AddWithValue("@venueId", 1);
        logCommand.Parameters.AddWithValue("@uniqueId", 10);

        //string selectLastQuery = "SELECT TOP 1 uniqueId FROM Users ORDER BY uniqueId DESC";
        //SqlCommand idCommand = new SqlCommand(selectLastQuery, connection);

        try
        {
            connection.Open();
            userCommand.ExecuteNonQuery();
            logCommand.ExecuteNonQuery();
            Console.WriteLine("Records Inserted Successfully");
        }
        catch (SqlException e)
        {
            Console.WriteLine("Error Generated. Details: " + e.ToString());
        }
        finally
        {
            connection.Close();
        }

        System.Diagnostics.Debug.WriteLine(fName + ",   " + lName + ",   " + phone);
    }



}

<header>
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <a class="navbar-brand" href="#">
            <img src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Venue Management
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item disabled">
                    <a class="nav-link" href="login">Login <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="register">Register <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="checkin">Checkin <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item disabled">
                    <a class="nav-link" href="reports">Reports <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<body>
    <div class="col-4 m-4">
        <form method="post">
            <div class="row">
                <label for="fName">First Name: </label>
                <input type="text" name="fName" class="form-control" maxlength="100" required />
            </div>

            <div class="row mt-4">
                <label for="lName">Last Name: </label>
                <input type="text" name="lName" class="form-control" maxlength="100" required />
            </div>

            <div class="row mt-4">
                <label for="phoneNum">Phone Number: </label>
                <input type="tel" name="phoneNum" class="form-control" pattern="0[0-9]{3}[0-9]{2}[0-9]{3}" required />
            </div>

            <div class="row mt-4">
                <button type="submit" class="btn btn-primary">Check in</button>
            </div>
        </form>
    </div>
</body>