@page
@using System;
@using System.Configuration;
@using System.Data.SqlClient;
@{
    ViewData["Title"] = "Checkin";

    // Connecting to database.
    String connectionString = "Server=tcp:amnotdaniel.duckdns.org,1433;Initial Catalog=projectstudio;Persist Security Info=False;User ID=sa;Password=ProjectStudio1;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False;Connection Timeout=30;";
    SqlConnection db = new SqlConnection(connectionString);

    // Getting form values from page.
    string fName = Request.Query["fName"];
    string lName = Request.Query["lName"];
    string phone = Request.Query["phoneNum"];

    // Checking if user is already in database, adding if not.
    if (!String.IsNullOrWhiteSpace(fName) && !String.IsNullOrWhiteSpace(fName) && !String.IsNullOrWhiteSpace(phone))
    {
        fName = fName.ToUpper();
        lName = lName.ToUpper();

        SqlCommand userIDCheck = new SqlCommand("SELECT * FROM Users WHERE firstName = @firstName AND lastName = @lastName AND phoneNumber = @phoneNum", db);

        userIDCheck.Parameters.AddWithValue("@firstName", fName);
        userIDCheck.Parameters.AddWithValue("@lastName", lName);
        userIDCheck.Parameters.AddWithValue("@phoneNum", phone);

        db.Open();
        var userIDResult = userIDCheck.ExecuteScalar();

        System.Diagnostics.Debug.WriteLine(userIDResult);

        if (userIDResult == null)
        {
            System.Diagnostics.Debug.WriteLine("It was null, big sad.");
        }
    }


    ////HENRYS CODE, WILL CONNECT WITH ABOVE
    //if (Request.Method == "POST")
    //{

    //    string userQuery = "INSERT INTO Users (firstName, lastName, phoneNumber) VALUES(@fName, @lName, @pNum)";
    //    SqlCommand userCommand = new SqlCommand(userQuery, db);

    //    userCommand.Parameters.AddWithValue("@fName", fName);
    //    userCommand.Parameters.AddWithValue("@lName", lName);
    //    userCommand.Parameters.AddWithValue("@pNum", phone);

    //    string logQuery = "INSERT INTO CheckinLogs (dateLog, venueId, uniqueId) VALUES(@theDate, @venueId, @uniqueId)";
    //    SqlCommand logCommand = new SqlCommand(logQuery, db);

    //    logCommand.Parameters.AddWithValue("@theDate", DateTime.Now);
    //    logCommand.Parameters.AddWithValue("@venueId", 1);
    //    logCommand.Parameters.AddWithValue("@uniqueId", 11);

    //    //string selectLastQuery = "SELECT TOP 1 uniqueId FROM Users ORDER BY uniqueId DESC";
    //    //SqlCommand idCommand = new SqlCommand(selectLastQuery, connection);

    //    try
    //    {
    //        db.Open();
    //        userCommand.ExecuteNonQuery();
    //        logCommand.ExecuteNonQuery();
    //        Console.WriteLine("Records Inserted Successfully");
    //    }
    //    catch (SqlException e)
    //    {
    //        Console.WriteLine("Error Generated. Details: " + e.ToString());
    //    }
    //    finally
    //    {
    //        db.Close();
    //    }

    //    System.Diagnostics.Debug.WriteLine(fName + ",   " + lName + ",   " + phone);
    //}
}

<header>
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <a class="navbar-brand" href="#">
            <img src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Venue Management
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item disabled">
                    <a class="nav-link" href="login">Login <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="register">Register <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="checkin">Checkin <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item disabled">
                    <a class="nav-link" href="reports">Reports <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<body>
    <div class="col-4 m-4">
        <form method="get">
            <div class="row">
                <label for="fName">First Name: </label>
                <input type="text" name="fName" class="form-control" maxlength="100" value="Paul" required />
            </div>

            <div class="row mt-4">
                <label for="lName">Last Name: </label>
                <input type="text" name="lName" class="form-control" maxlength="100" value="Smith" required />
            </div>

            <div class="row mt-4">
                <label for="phoneNum">Mobile Number: </label>
                <input type="tel" name="phoneNum" class="form-control" pattern="0[0-9]{9}||[0-9]{9}" placeholder="012345678" value="0421321321" required />
            </div>

            <div class="row mt-4">
                <button type="submit" class="btn btn-primary">Check in</button>
            </div>
        </form>
    </div>
</body>