@page
@using System;
@using System.Configuration;
@using System.Data.SqlClient;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";

    var email = "";
    var phone = "";
    var password = "";
    var businessName = "";
    var businessOwner = "";
    var businessAddress = "";
    var businessNumber = "";
    var venueIdString = "";

    if (Request.Cookies["venueId"] != null)
    {
        venueIdString = Request.Cookies["venueId"];

        String connectionString = "Server=tcp:amnotdaniel.duckdns.org,1433;Initial Catalog=projectstudio;Persist Security Info=False;User ID=sa;Password=ProjectStudio1;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False;Connection Timeout=30;";
        SqlConnection db = new SqlConnection(connectionString);

        SqlCommand checkExisting = new SqlCommand("SELECT ownerEmail, ownerPhone, ownerPassword, venueName, venueOwner, venueAddress, venuePhone FROM Venue WHERE venueId = @0", db);
        checkExisting.Parameters.AddWithValue("@0", venueIdString);

        db.Open();
        SqlDataReader reader = checkExisting.ExecuteReader();

        if (reader.HasRows)
        {
            while (reader.Read())
            {
                email = reader.GetString(0);
                phone = reader.GetString(1);
                password = reader.GetString(2);
                businessName = reader.GetString(3);
                businessOwner = reader.GetString(4);
                businessAddress = reader.GetString(5);
                businessNumber = reader.GetString(6);
            }
        }
    }
}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJG02FQOVVRvnAMzRdFvNo9QLLcBsNLIY&libraries=places&callback=initialize"></script>

<div class="container">
    <main role="main" class="pb-3">
        <br /><br /><br />
        @{
            if (Request.Cookies["venueId"] != null)
            {
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Your details</h5>

                                Venue ID: @Request.Cookies["venueId"]<br />
                            </div>
                        </div>
                    </div>
                </div><br />
                <form method="post" action="">
                    <div class="row d-flex justify-content-center">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Update Account Details</h5>
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" placeholder="Email..." value="@email" required>
                                    </div>

                                    <div class="form-group">
                                        <input type="tel" class="form-control" name="phone" placeholder="Contact number..." value="@phone" pattern="^\d{10}$" oninvalid="this.setCustomValidity('Enter a valid phone number.')" oninput="this.setCustomValidity('')" required autocomplete="tel">
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form><br />

                <form method="post" action="">
                    <div class="row d-flex justify-content-center">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Update Account Password</h5>
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="password" placeholder="Current password..." id="oldpassword" required>
                                    </div>

                                    <div class="form-group">
                                        <input type="password" class="form-control" name="password" placeholder="New password..." id="newpassword" required>
                                    </div>

                                    <div class="form-group">
                                        <input type="password" class="form-control" name="password2" placeholder="Confirm password..." id="newpassword2" required>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form><br />

                <form method="post" action="">
                    <div class="row d-flex justify-content-center">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Update Venue Details</h5>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="businessname" placeholder="Business name..." value="@businessName" required>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" name="businessowner" placeholder="Business owner..." value="@businessOwner" required>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" name="businessaddress" id="businessaddress" placeholder="Business address..." value="@businessAddress" required>
                                    </div>

                                    <div class="form-group">
                                        <input type="tel" class="form-control" name="businessnumber" placeholder="Business phone number..." value="@businessNumber" pattern="^\d{10}$" oninvalid="this.setCustomValidity('Enter a valid phone number.')" oninput="this.setCustomValidity('')" required autocomplete="tel">
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            }
        }
    </main>
</div>

<script language='javascript' type='text/javascript'>
    function initialize() {
        var input = document.getElementById('businessaddress');
        new google.maps.places.Autocomplete(input);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>