@page
@using System;
@using System.Diagnostics;
@using System.Data.SqlClient;
@using Models;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Reports";

    if (Request.Cookies["venueId"] == null)
    {
        //Redirect to index if we are logged in
        Response.Redirect("Register");
    }

    //Establishing connection to database
    String connectionString = "Server=tcp:amnotdaniel.duckdns.org,1433;Initial Catalog=projectstudio;Persist Security Info=False;User ID=sa;Password=ProjectStudio1;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False;Connection Timeout=30;";
    SqlConnection db = new SqlConnection(connectionString);


    //Initialising dropdown lists
    List<VenueDetail> dropdownListVenues = new List<VenueDetail>();
    List<CustomerDetail> dropdownListUsers = new List<CustomerDetail>();

    //Initialising results lists
    List<CustomerDetail> customers = new List<CustomerDetail>();
    List<VenueDetail> venues = new List<VenueDetail>();

    bool dualSearch = false;

    db.Open();

    //Filling the venue dropdown list with the venues
    SqlCommand venueDropdown = new SqlCommand("SELECT venueName, venueId FROM Venue", db);
    SqlDataReader readerVenue = venueDropdown.ExecuteReader();

    while (readerVenue.Read())
    {
        string venuename = readerVenue.GetString(0);
        int venueId = readerVenue.GetInt32(1);
        dropdownListVenues.Add(new VenueDetail() { venueName = venuename, venueId = venueId });
    }

    readerVenue.Close();


    //Filling the user dropdown list with users
    SqlCommand userDropdown = new SqlCommand("SELECT firstName, LastName, uniqueId FROM Users", db);
    SqlDataReader readerUser = userDropdown.ExecuteReader();

    while (readerUser.Read())
    {
        string firstName = readerUser.GetString(0);
        string lastName = readerUser.GetString(1);
        string uniqueId = readerUser.GetString(2);
        dropdownListUsers.Add(new CustomerDetail() { firstName = firstName, lastName = lastName, uniqueId = uniqueId });
    }

    readerUser.Close();


    //Establishing variables for form values
    var formVenueValue = "";
    var formUserValue = "";
    var userSearchName = "";
    var searchDate = "";

    if (Request.Method == "POST")
    {
        userSearchName = Request.Form["userValue"];

        if (!String.IsNullOrWhiteSpace(Request.Form["searchDate"]))
        {
            searchDate = Request.Form["searchDate"];
        }

        if (Request.Form["repType"] == "people")
        {
            SqlCommand userReport = new SqlCommand("select firstName, lastName, U.uniqueId, phoneNumber, dateLog, venueId from Users as U " +
                "join CheckinLogs as CL on U.ID = CL.uniqueIdwhere venueId in " +
                "(select venueId from CheckinLogs where uniqueId = @uID)", db);

            userReport.Parameters.AddWithValue("@uID", userSearchName);

            SqlDataReader userReportData = userReport.ExecuteReader();

            while (userReportData.Read())
            {
                string fName = userReportData.GetString(0);
                string lName = userReportData.GetString(1);
                string uID = userReportData.GetString(2);
                string phoneNum = userReportData.GetString(3);
                DateTime dateLogged = userReportData.GetDateTime(4);
                customers.Add(new CustomerDetail() { firstName = fName, lastName = lName, phoneNumber = phoneNum, logDate = dateLogged, uniqueId = uID });
            }
        }
        else
        {

        }
    }

}


<div class="container">
    <main role="main" class="pb-3">
        <br /><br /><br />

        <div class="card">
            <div class="card-header">
                <form method="post" class="row">
                    <div class="col-3">
                        <input list="userSearch" name="userValue" class="form-control" placeholder="Enter name..." required/>
                        <datalist id="userSearch">
                            @foreach (var user in dropdownListUsers)
                            {
                                <option value="@user.uniqueId">@user.firstName @user.lastName</option>
                            }
                        </datalist>
                    </div>
                    <div class="col-3">
                        <input type="date" class="form-control" format="dd-mm-yyyy" name="searchDate" />
                    </div>
                    <div class="col-3">
                        <input type="radio" name="repType" value="people" />
                        <label>People</label>
                        <input type="radio" name="repType" value="venues" />
                        <label>Venues</label>
                    </div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-outline-primary">Generate Report</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    </div>

<div class="container">
    <div class="card">
        <div class="card-header">
        </div>

        @if (venues.Count() > 0)
        {
            <h1>@userSearchName</h1>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col">Venue Name</th>
                        <th scope="col">Venue Address</th>
                        <th scope="col">Venue Phone Number</th>
                        <th scope="col">Owner Name</th>
                        <th scope="col">Log Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var venue in venues)
                    {

                        <tr>
                            <td>
                                @venue.venueName
                            </td>
                            <td>
                                @venue.venueAddress
                            </td>
                            <td>
                                @venue.venuePhone
                            </td>
                            <td>
                                @venue.ownerName
                            </td>
                            <td>
                                @venue.logDate
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        }


        @if (customers.Count() > 0 && dualSearch == false)
        {

            <h1>@formVenueValue</h1>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col">Unique ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Log Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customer in customers)
                    {

                        <tr>
                            <td>
                                @customer.uniqueId
                            </td>
                            <td>
                                @customer.firstName
                            </td>
                            <td>
                                @customer.lastName
                            </td>
                            <td>
                                @customer.phoneNumber
                            </td>
                            <td>
                                @customer.logDate
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        else if (customers.Count() > 0 && dualSearch == true)
        {
            <h2>Other Customers at: @formVenueValue on same day as @formUserValue</h2>

            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col">Unique ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Log Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customer in customers)
                    {

                        <tr>
                            <td>
                                @customer.uniqueId
                            </td>
                            <td>
                                @customer.firstName
                            </td>
                            <td>
                                @customer.lastName
                            </td>
                            <td>
                                @customer.phoneNumber
                            </td>
                            <td>
                                @customer.logDate
                            </td>
                        </tr>

                    }
                </tbody>

            </table>
        }
        else
        {
            <div class="text-center"><i>No results to show...</div>
        }
    </div>
    </div>
