
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
    <title>@ViewData["Title"] - COVIDCheckinWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        @{
            if (ViewData["Title"].ToString() != "Checkin" && ViewData["Title"].ToString() != "QrCode Generation")
            {
                <nav class="navbar navbar-dark navbar-expand-lg">
                    <div class="floating-navbar">
                        <a class="navbar-brand" href="#" style="margin:2px 20px 0 0">
                            Venue Management
                        </a>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav mr-auto">

                                @if (Context.Request.Cookies["permission"] != "1")
                                {
                                    if (Context.Request.Cookies["venueId"] != null)
                                    {
                                         <li class="nav-item @(ViewData["Title"].ToString() == "Home" ? "active" : "")">
                                            <a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>
                                        </li>
                                    }
                                }

                                @if (Context.Request.Cookies["venueId"] == null)
                                {
                                    <li class="nav-item @(ViewData["Title"].ToString() == "Login" ? "active" : "")">
                                        <a class="nav-link" href="login">Login <span class="sr-only">(current)</span></a>
                                    </li>
                                }

                                @if (Context.Request.Cookies["venueId"] == null)
                                {
                                    <li class="nav-item @(ViewData["Title"].ToString() == "Register" ? "active" : "")">
                                        <a class="nav-link" href="register">Register <span class="sr-only">(current)</span></a>
                                    </li>
                                }

                                @if (Context.Request.Cookies["venueId"] != null)
                                {
                                    <li class="nav-item @(ViewData["Title"].ToString() == "QrCode Generation" ? "active" : "")">
                                        <a class="nav-link" href="QrCodeGeneration">QrCode Generation <span class="sr-only">(current)</span></a>
                                    </li>
                                }

                                @if (Context.Request.Cookies["venueId"] != null)
                                {
                                    <li class="nav-item @(ViewData["Title"].ToString() == "Checkin" ? "active" : "")">
                                        <a class="nav-link" href="checkin">Checkin <span class="sr-only">(current)</span></a>
                                    </li>
                                }

                                @if (Context.Request.Cookies["venueId"] != null && Context.Request.Cookies["permission"] == "1")
                                {
                                    <li class="nav-item @(ViewData["Title"].ToString() == "Reports" ? "active" : "")">
                                        <a class="nav-link" href="reports">Reports <span class="sr-only">(current)</span></a>
                                    </li>
                                }

                                @if (Context.Request.Cookies["venueId"] != null)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="logout">Logout <span class="sr-only">(current)</span></a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </nav>
            }
        }
    </header>
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
